@import "fonts";
@import "colors";

html, body {
  font-family: 'SourceSansPro-Regular', 'SoruceSerifPro-Regular';
  height: 100%;
}

p { font-size: 1em; }

h1, h2, h3, h4 {
  color: $dark-grey;
  font-weight: bold;
  border-bottom: solid 1px $light-grey;
  padding-bottom: 20px;
  margin-top: 50px;
}

h1, h2 { color: $main-blue; }

label {
  color: $grey;
}

.text-center { text-align: center; }
