$dark-grey: #464646;
$grey: #666666;
$main-green: #648B46;
$lighter-grey: #b4b4b4;
$light-grey: #d8d8d8;
$extralight-grey: #e7e7e7;
$lightest-grey: #f7f7f7;
$cream: #f7f7f7;
$main-blue: #30558A;
$dark-blue: #284875;
$red: #d80600;
$dark-red: #ac0401;
$dark-yellow: #e2a928;
$pink: #ffe8e8;
