@font-face {
  font-family: 'SourceSansPro-Black';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSansPro-Black.ttf') format('ttf'),
       font_url('SourceSansPro-Black.eot') format('eot'),
       font_url('SourceSansPro-Black.ttf.woff') format('woff')
}

@font-face {
  font-family: 'SourceSansPro-BlackIt';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSansPro-BlackIt.ttf') format('ttf'),
       font_url('SourceSansPro-BlackIt.eot') format('eot'),
       font_url('SourceSansPro-BlackIt.ttf.woff') format('woff')

}

@font-face {
  font-family: 'SourceSansPro-Bold';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSansPro-Bold.ttf') format('ttf'),
       font_url('SourceSansPro-Bold.eot') format('eot'),
       font_url('SourceSansPro-Bold.ttf.woff') format('woff')

}

@font-face {
  font-family: 'SourceSansPro-BoldIt';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSansPro-BoldIt.ttf') format('ttf'),
       font_url('SourceSansPro-BoldIt.eot') format('eot'),
       font_url('SourceSansPro-BoldIt.ttf.woff') format('woff')

}

@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSansPro-ExtraLight.ttf') format('ttf'),
       font_url('SourceSansPro-ExtraLight.eot') format('eot'),
       font_url('SourceSansPro-ExtraLight.ttf.woff') format('woff')

}

@font-face {
  font-family: 'SourceSansPro-ExtraLightIt';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSansPro-ExtraLightIt.ttf') format('ttf'),
       font_url('SourceSansPro-ExtraLightIt.eot') format('eot'),
       font_url('SourceSansPro-ExtraLightIt.ttf.woff') format('woff')

}

@font-face {
  font-family: 'SourceSansPro-Italic';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSansPro-It.ttf') format('ttf'),
       font_url('SourceSansPro-It.eot') format('eot'),
       font_url('SourceSansPro-It.ttf.woff') format('woff')

}

@font-face {
  font-family: 'SourcesSansPro-Light';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSansPro-Light.ttf') format('ttf'),
       font_url('SourceSansPro-Light.eot') format('eot'),
       font_url('SourceSansPro-Light.ttf.woff') format('woff')

}

@font-face {
  font-family: 'SourceSansPro-LightIt';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSansPro-LightIt.ttf') format('ttf'),
       font_url('SourceSansPro-LightIt.eot') format('eot'),
       font_url('SourceSansPro-LightIt.ttf.woff') format('woff')

}

@font-face {
  font-family: 'SourceSansPro-Regular';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSansPro-Regular.ttf') format('ttf'),
       font_url('SourceSansPro-Regular.eot') format('eot'),
       font_url('SourceSansPro-Regular.ttf.woff') format('woff')

}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSansPro-Semibold.ttf') format('ttf'),
       font_url('SourceSansPro-Semibold.eot') format('eot'),
       font_url('SourceSansPro-Semibold.ttf.woff') format('woff')

}

@font-face {
  font-family: 'SourceSansPro-SemiboldIt';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSansPro-SemiboldIt.ttf') format('ttf'),
       font_url('SourceSansPro-SemiboldIt.eot') format('eot'),
       font_url('SourceSansPro-SemiboldIt.ttf.woff') format('woff')

}

@font-face {
  font-family: 'SourceSerifPro-Black';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSerifPro-Black.ttf') format('ttf'),
       font_url('SourceSerifPro-Black.eot') format('eot'),
       font_url('SourceSerifPro-Black.ttf.woff') format('woff')
}

@font-face {
  font-family: 'SourceSerifPro-Bold';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSerifPro-Bold.ttf') format('ttf'),
       font_url('SourceSerifPro-Bold.eot') format('eot'),
       font_url('SourceSerifPro-Bold.ttf.woff') format('woff')
}

@font-face {
  font-family: 'SourceSerifPro-ExtraLight';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSerifPro-ExtraLight.ttf') format('ttf'),
       font_url('SourceSerifPro-ExtraLight.eot') format('eot'),
       font_url('SourceSerifPro-ExtraLight.ttf.woff') format('woff')
}

@font-face {
  font-family: 'SourceSerifPro-Light';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSerifPro-Light.ttf') format('ttf'),
       font_url('SourceSerifPro-Light.eot') format('eot'),
       font_url('SourceSerifPro-Light.ttf.woff') format('woff')
}

@font-face {
  font-family: 'SourceSerifPro-Regular';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSerifPro-Regular.ttf') format('ttf'),
       font_url('SourceSerifPro-Regular.eot') format('eot'),
       font_url('SourceSerifPro-Regular.ttf.woff') format('woff')
}

@font-face {
  font-family: 'SourceSerifPro-Semibold';
  font-weight: normal;
  font-style: normal;
  src: font_url('SourceSerifPro-Semibold.ttf') format('ttf'),
       font_url('SourceSerifPro-Semibold.eot') format('eot'),
       font_url('SourceSerifPro-Semibold.ttf.woff') format('woff')
}
