@import "mobile";

.top-level-container {
  position: relative;
  min-height: 100%;
  //padding-bottom: 300px;
}

.borders-wrapper {
  padding-bottom: 300px;
  border: 10px solid $main-blue;
  @media screen and(max-width: $break_desktop) {
    border: none;
    border-bottom: 5px solid $main-blue;
  }
}

.mobile-header, .desktop-header {
  background-color: $main-blue;
  border-bottom: 1px solid $light-grey;
  margin: 0;
}

.mobile-header, .mobile-footer {
  .row { margin-right: 0; }
}

header.row.desktop-header {
  @media screen and (max-width: $break_desktop) {
    display: none;
  }
  color: white;
  .container {
    display: flex;
    align-items: center;
  }
  nav#logo {
    img { width: 150px; }
  }
  .navbar {
    min-height: 0;
    padding: 0;
  }
  li.nav-elem {
    a {
      padding: 0;
      color: white;
    }
    a:hover {
      background: none;
    }
  }

  #nav_bar {
    li.nav-elem {
      margin-left: 15px;
      a { padding: 5px 10px; }
      a.active { background-color: $dark-blue; }
    }
  }

  #user_nav {
    display: flex;
    align-items: center;
    .login > a { color: white; }
    a:hover { background: none; }
  }

  .languages-dropdown {
    .btn {
      background: none;
      border: none;
      color: white;
      .fa-caret-down { margin-left: 30px; }
      &:focus { outline: 0; }
      &:active {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }

  .login {
    .fa-caret-down { margin-left: 5px; }
  }
}

footer {
  @media screen and (max-width: $break_desktop) {
    display: none;
  }
  position: absolute;
  width: 100%;
  //height: 120px;
  //bottom: 0;
  background-color: $cream;
  .footer-container {
    height: 120px;
    @media screen and(max-width: $break_desktop) {
      height: 80px;
    }
    .footer-row {
      height: 100%;
      padding: 20px 0 0;
    }
    .epix-col {
      position: relative;
      top: 30%;
      margin-left: 30px;
      color: $main-blue;
    }
    .logo-col {
      img { width: 200px; }
    }
  }
}

.left { float: left; }
.right { float: right; }
.bold { font-family: 'SourceSansPro-Bold', 'SourceSerifPro-Bold' }
.italic { font-style: italic; }

li.login > a:focus {
  background: none;
  border: none;
  outline: none;
}

.modal-title {
  padding: 0;
  border: none;
  color: $main-blue;
}

.modal-dialog {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -maz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}

.modal-dialog > div {
  @media screen and(min-width: $break_desktop) {
    width: 400px;
  }
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: white;
}

.modal-content {
  border-top: 5px solid $main-blue;
  border-radius: 0;
}

.modal-body {
  padding-bottom: 30px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: none;
  padding: 0;
  .remember-me { margin-right: auto; }
}

.forgot-password {
  float: right;
  margin-right: 13px;
}

.close {
  float: right;
  background: $main-blue;
  color: #FFFFFF;
  line-height: 25px;
  position: relative;
  text-align: center;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.forgot-password {
  a { color: $main-green; }
}

.header-dropdown {
  display: flex;
  align-items: center;
  .btn {
    background: none;
    border: none;
    color: white;
    .fa-caret-down { margin-left: 30px; }
    &:focus { outline: 0; }
    &:active {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.forgot-password-form {
  width: 500px;
  .actions { float: right; }
}

.form-header, .list-header {
  h1, h2 {
    margin: 0;
    padding: 0;
    border: none;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0 20px;
  border-bottom: 2px solid $light-grey;
}

.form-footer {
  padding: 30px 0;
  border-top: 1px solid $light-grey;
  .buttons { float: right; }
}

.form-horizontal {
  label.control-label { text-align: left; }
}

.col-5 {
  float: left;
  width: 5%;
}

.col-48 {
  float: left;
  width: 48%;
  padding: 0 15px;
}

.col-70 {
  float: left;
  width: 70%;
}

.col-10 {
  float: left;
  width: 10%;
}

.row.no-padding { padding: 0; }
.row.padded-10, .col.padded-10 { padding: 10px; }
.row.padded-15, .col.padded-15 { padding: 15px; }
.row.padded-20, .col.padded-20 { padding: 20px; }
.row.hor-padded-10, .col.hor-padded-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.row.ver-padded-10, .col.ver-padded-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.row.hor-padded-15, .col.hor-padded-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.row.ver-padded-15, .col.ver-padded-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.row.hor-padded-20, .col.hor-padded-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.row.ver-padded-20, .col.ver-padded-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.row.height-30 { height: 30%; }
.row.height-40 { height: 40%; }
.row.height-47 { height: 47%; }
.row.height-50 { height: 50%; }
.row.height-53 { height: 53%; }
.row.height-60 { height: 60%; }
.row.height-70 { height: 70%; }
.row.height-100 { height: 100%; }
.font-18 { font-size: 18px; }
.text-rgt { text-align: right; }
.text-lft { text-align: left; }
.inline { display: inline-block; }

.border-btm {
  border-bottom: 1px solid $light-grey;
}

.border-btm-2 {
  border-bottom: 2px solid $light-grey;
}

.border-btm-3 {
  border-bottom: 3px solid $light-grey;
}

.border-rgt {
  border-right: 1px solid $light-grey;
}

.border-lft {
  border-left: 1px solid $light-grey;
}

.border-lft-2 {
  border-left: 2px solid $light-grey;
}

.border-no-btm {
  border: 1px solid $light-grey;
  border-bottom: none;
}

.border-no-rgt-2 {
  border: 2px solid $light-grey;
  border-right: none;
}

#error_explanation {
  h2 {
    border-bottom: none;
    padding: 0;
  }
  ul { padding: 0; }
}

.info-box {
  font-family: 'SourceSerifPro-Regular', 'SourceSansPro-Regular';
}

.no-padding { padding: 0; }

.align-right { text-align: right; }
.align-left { text-align: left; }
