header.mobile-header {
  display: none;
  .menu-button { text-align: right; }
  .row {
    display: flex;
    align-items: center;
  }
  .menu { display: none; }
  .mobile-nav {
    margin-top: 10px;
    border: 1px solid $light-grey;
  }
  img {
    padding: 10px;
    width: 150px;
  }
  @media screen and (max-width: $break_desktop) {
    display: block;
  }
}

ul.mobile-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    background: $extralight-grey;
    color: $dark-grey;
    a {
      display: block;
      width: 100%;
      color: $main-blue;
      padding-bottom: 10px;
      border-bottom: 1px solid $light-grey;
    }
    padding: 10px 10px 0;
  }
  li.login { padding: 25px 10px 0; }
}

ul.mobile-languages-list {
  list-style: none;
  padding: 10px;
  margin: 0;
  background: $extralight-grey;
  display: flex;
  justify-content: space-between;
  li {
    a { color: $main-blue }
    a.active { color: $dark-grey; }
    display: inline;
  }
}

footer.mobile-footer {
  display: none;
  .logo-row {
    border-bottom: 1px solid $light-grey;
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    img {
      padding: 10px;
      width: 150px;
    }
  }
  .signature-row {
    margin: 15px;
    color: $main-blue;
  }
  .icons-row {
  }
  @media screen and (max-width: $break_desktop) {
    display: block;
  }
}
